/* _fonts.scss */
@font-face {
  font-family: LondonMM;
  src: url("../fonts/londonMM.ttf");
}
@font-face {
  font-family: LondonMM_IE;
  src: url("../fonts/londonMM.eot");
}
@font-face {
  font-family: LondonMM_Chrome;
  src: url("../fonts/londonMM.svg");
}
@font-face {
  font-family: RemachineScript;
  src: url("../fonts/RemachineScript.ttf");
}
@font-face {
  font-family: RemachineScript_IE;
  src: url("../fonts/RemachineScript.eot");
}
@font-face {
  font-family: RemachineScript_Chrome;
  src: url("../fonts/RemachineScript.svg");
}
@font-face {
  font-family: SLC;
  src: url("../fonts/SLC.ttf");
}
@font-face {
  font-family: SLC_IE;
  src: url("../fonts/SLC.eot");
}
@font-face {
  font-family: SLC_Chrome;
  src: url("../fonts/SLC.svg");
}
